@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.btn{
  @apply font-bold py-2 px-4 rounded;
}

.btn--menu{
  @apply bg-green-600 text-white;
}

.btn--menu:hover{
  @apply bg-green-700 text-white;
}

#dashboard-img__right{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.form-login--background{
  background: url("/images/assets/dashboard_2.svg") right bottom no-repeat;
  background-size: 35%;
}


.bg-gray-100 {
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}

.border-gray-200 {
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--tw-border-opacity));
}

.text-gray-400 {
  color: #cbd5e0;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}

.text-gray-500 {
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
}

.text-gray-600 {
  color: #718096;
  color: rgba(113, 128, 150, var(--tw-text-opacity));
}

.text-gray-700 {
  color: #4a5568;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}

.text-gray-900 {
  color: #1a202c;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}


@media (max-width: 991.98px){
  .form-login--background{
    background-size: 40%;
  }
  .card--logo{
    @apply w-4/6;
  }
}

@media (max-width: 767.98px){
  .form-login--background{
    background-size: 95%;
  }
}